input{
    width: 300px;
    padding: 5px;
}

#long{
    margin-left: -225px;
    color: #111111;
}
#lat{
    margin-left: -237px;
    color: #111111;
}

#parks{
    width: 300px;
    padding:5px;
    borderRadius:5px;
}

*:focus{
    outline: none;
}

